<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>新規登録</h1>
      <div>
        <%= form_with model: @user,url: user_registration_path do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :name,"ユーザーネーム" %><br/>
            <%= f.text_field :name %>
          </div>
          
          <div class="field">
            <%= f.label :email,"メールアドレス" %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          
          <div class="field">
            <%= f.label :password,"パスワード(8~16文字)" %><br/>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          
          <div class="field">
            <%= f.label :password_confirmation,"パスワード(確認)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          
          <div class="actions">
            <%= f.submit "新規登録" %>
          </div>
        <% end %>
        <p>登録済みの方は<%= link_to "こちら",new_user_session_path %>から</p>
      </div>
    </div>
  </div>
</div>
